@font-face {
  font-family: "iconfont"; /* Project id 3563592 */
  src: url('iconfont.woff2?t=1660092659099') format('woff2'),
       url('iconfont.woff?t=1660092659099') format('woff'),
       url('iconfont.ttf?t=1660092659099') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e61c";
}

.icon-liaotian_jihuo:before {
  content: "\e640";
}

.icon-contacts-fill:before {
  content: "\e632";
}

.icon-tianjiayonghu:before {
  content: "\e630";
}

.icon-cuowuguanbiquxiao-yuankuang:before {
  content: "\e8e7";
}

.icon-zengjia:before {
  content: "\e889";
}

.icon-wenjianjia1:before {
  content: "\e637";
}

.icon-biaoqing1:before {
  content: "\e797";
}

.icon-24gl-bubbleDots:before {
  content: "\e93e";
}

.icon-dianhua:before {
  content: "\e61b";
}

.icon-shipin:before {
  content: "\e63e";
}

.icon-5jietu-1:before {
  content: "\e662";
}

.icon-liaotian:before {
  content: "\e63f";
}

.icon-biaoqing:before {
  content: "\e65d";
}

.icon-gengduo2:before {
  content: "\ec1c";
}

.icon-shoucang1:before {
  content: "\e604";
}

.icon-souyisou:before {
  content: "\e611";
}

.icon-shoucang2:before {
  content: "\e628";
}

.icon-2zuixiaohua-2:before {
  content: "\e65a";
}

.icon-yuyinguanbi:before {
  content: "\e903";
}

.icon-zuidahua:before {
  content: "\e651";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-gengduo:before {
  content: "\e660";
}

.icon-tongxunlu:before {
  content: "\e655";
}

.icon-gengduo1:before {
  content: "\e66c";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-24gl-bubble:before {
  content: "\e93c";
}

.icon-shouji:before {
  content: "\e853";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-xiaochengxu:before {
  content: "\e636";
}

.icon-pengyouquan:before {
  content: "\e635";
}

